<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/common/w3.css">
<link rel="stylesheet" href="css/common/common.css">
<title>자유목록</title>
</head>
	<body>
		<div th:class="w3-container" >
			<div th:insert="~{common/category :: category}"></div>
			<div th:class="contentWrap">
				<h1>자유 게시판</h1>
				<div th:class="textRight"><div th:class="'w3-button w3-green w3-card'" th:onclick="|location='@{/freeBoardNew}'|">새 글</div></div>
				<div th:class="marginTop">
					<ul th:class="'w3-ul w3-card'" >
						<li th:each="list , iStat : ${FreeBoardPage.content}" 
							th:class="'w3-bar w3-hover-green curPinter'" th:onclick="|location='@{/freeBoardDetail(no=${list.no})}'|">
							<div th:class="w3-bar-item">
								<span th:text="${#dates.format(list.reg_date,'yyy-MM-dd HH:mm:ss')}"></span><br>
								<span th:text="${list.title}" ></span>
							</div>
						</li>
					</ul>
				</div>    
			</div>
			
	    	<div th:if="${FreeBoardPage.totalPages > 0}" th:class="w3-bar">
				<a	th:each="pageNumber : ${pageNumbers}"
					th:href="@{/freeBoard(size=${FreeBoardPage.size}, page=${pageNumber})}"
	         		th:text=${pageNumber} 
	         		th:class="${pageNumber==FreeBoardPage.number + 1} ? 'w3-button w3-green' : 'w3-button'"></a>
	    	</div>
		</div>
	</body>
</html>