.imgW85 { width:85px; }
.hide { display : none; }
.category { margin: 1em 0em; }
.contentWrap { width: 70%; margin-bottom: 1em; }
.contents { padding: 2em; }
.headerContents { margin: 1em 0em;}
.curPinter{ cursor: pointer; }